@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
	margin: 0;

	padding: 0;
	box-sizing: border-box;
}

body {
	/* background-color: rgb(248, 248, 248); */
	font-family: "Poppins", sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
	position: sticky;
	box-shadow: 1px 1px 4px rgb(233, 232, 232);
}

header h1 {
	color: rgb(4, 138, 102);
}

main {
	padding-block: 40px;
	background-color: rgb(240, 236, 236);
}

section {
	width: 90%;
	margin: 0 auto;
}

.card-container {
	display: grid;
	grid-template-columns: repeat(3, minmax(200px, 1fr));
	grid-gap: 30px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 1px 1px 4px rgb(233, 232, 232);
	padding: 20px;
	border-radius: 10px;
	/* min-height: 320px; */
	background-color: #fff;
}

.card h3 {
	color: rgb(0, 0, 134);
	font-size: 1.5rem;
}

.curr {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.curr button {
	border: none;
	background-color: rgb(85, 34, 4);
	color: rgb(233, 229, 229);
	padding: 4px 15px;
	font-size: 14px;
	border-radius: 15px;
}

.card p {
	padding-top: 5px;
}

@media screen and (max-width: 800px) {
	.card-container {
		grid-template-columns: repeat(2, 1fr);
	}

	header h1 {
		font-size: 1.3rem;
	}

	.card h3 {
		font-size: 1.2rem;
	}
}
@media screen and (max-width: 500px) {
	.card-container {
		grid-template-columns: repeat(1, 1fr);
	}

	header {
		padding: 15px 20px;
		text-align: center;
	}
}
